/dataset/FER-2013/
/dataset/emotion_landmark_dataset/
/dataset/Cats_And_Dogs_Mini_Dataset/
/dataset/Fruit_Classification_10_Class/
/dataset/Pest_Dataset/
/dataset/Plant_Village/
/dataset/Rock_Paper_Scissors_Images/
